body {
  position: relative;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 38pt;
  color: black;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
  font-weight: 700;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24pt;
  font-weight: 500;
}

h2,
h3 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16pt;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  color: black;
  font-weight: 400;
}

/** Pieni teksti */
.small {
  font-size: 10pt;
}

/** Ingressiteksti */
.profile {
  font-size: 14pt;
  color: rgb(44, 44, 44);
  font-weight: 500;
}

/* Linkkityylit */
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #79d6db;
}

a:active {
  color: #79d6db;
}

/* h2-otsikon tyyli */
.underline {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffc4dd 50%);
  display: inline-block;
  line-height: 30px;
  padding-bottom: 0.3em;
  padding-left: 5px;
  padding-right: 5px;
}

/* Painikkeet */
.btn-2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12pt;
  background-color: white;
  color: black;
  border-radius: 0;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  position: relative;
  box-shadow: -5px 5px 0 2px black, -7px 7px 0 1px white;
}

.btn-2:hover {
  background-color: #ff348c;
  color: white;
  border-color: black;
}

/* Badget */
.badge {
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 11pt;
  font-weight: 500;
  padding: 8px;
  margin-bottom: 15px;
}

/** Back to top -painike */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

#btn-back-to-top:hover {
  background-color: #ff348c;
  color: white;
}

/* Container */
.container {
  max-width: 1050px;
}

/** Navigaatio */
.navbar {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15pt;
  background-color: white;
}

.navbar-nav .nav-link.active {
  color: #79d6db;
}

.nav-link:hover {
  color: #79d6db;
}

/** Video */
.video {
  box-shadow: -10px 10px 0 2px #79d6db;
}

/** Timeline */
.timeline {
  border-left: 3px solid black;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
  top: -5px;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 38px;
}

.timeline .timeline-item:after {
  background-color: white;
  left: -43.5px;
  border-radius: 50%;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  height: 20px;
  width: 20px;
  content: "";
}

/** Kuvien tyylejä */
img {
  margin-bottom: 20px;
  border-radius: 6px;
}

.img-box-shadow {
  box-shadow: -7px 7px 0 2px #79d6db;
}

.img-hover {
  cursor: zoom-in;
}

.image-smaller {
  max-width: 75%;
}

/** Popup-kuvat */
.popup-img {
  position: fixed;
  top: 6%;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-img span {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.popup-img img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  border: 5px solid white;
  border-radius: 5px;
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}
